autopep8==1.4.4
colorama==0.4.1
cycler==0.10.0
ekphrasis==0.5.1
emoji==0.5.2
ftfy==5.5.1
kiwisolver==1.1.0
matplotlib==3.0.3
nltk==3.4.1
numpy==1.22.0
pycodestyle==2.5.0
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
termcolor==1.1.0
tqdm==4.31.1
ujson==1.35
wcwidth==0.1.7
